@model IEnumerable<JobOpportunity>
@inject IScopedAuthentication _authentication
@{
    ViewData["Title"] = "Available Job Opportunities";
}
<style>
    .mainSection {
        background-image: url("images/main-photo.jpeg");
        background-repeat: no-repeat;
        opacity: 0.8;
        background-size: cover;
        background-position: center center;
        height: 300px;
        background-image: url("images/main-photo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 300px;
        display: flex; /* Center content vertically and horizontally */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        text-align: center; /* Center text within the div */
        color: white; /* Text color */
    }

    .MenuHeader {
        z-index: 2;
        font-size: 4rem; /* Adjust font size as needed */
        font-weight: bold; /* Make text bold */
    }

    .EventsWrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
<div class="mainSection">
    <h2 class="MenuHeader ">Available Job Opportunities</h2>
</div>
<div class="container">
    <div class="row text-center">
         @if (_authentication.Identity != null && _authentication.Identity.IsAuthenticated)
        {
            <div class="container mt-4 d-flex justify-content-end">
                <form asp-controller="JobOpportunity" asp-action="Create" method="get">
                    <button type="submit" class="button">Create New Event</button>
                </form>
            </div>
        }
        @foreach (var job in Model)
        {
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="AlumniCard bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/images/jobPhoto.jpg" alt="Alumni photo" width="100%" height="100%" class="img-fluidS mb-3 rounded shadow-sm">
                   
                    <div class="additional-info text-left">
                        <div class="additional-info-inner text-start ">
                            <h5> <strong style="color: #0353A4;">@job.Company is hiring @job.Title</strong></h5> <br />
                            <p class="card-text" style="color: #343a40;">
                                <strong style="color: #0353A4;">Description:</strong> @job.Summary<br />
                                <strong style="color: #0353A4;">Deadline:</strong> @job.Deadline <br />
                                <strong style="color: #0353A4;">Salary:</strong> @job.Salary <br />
                                <strong style="color: #0353A4;">Experience:</strong> @job.Experience <br />
                                <strong style="color: #0353A4;">Email:</strong> @job.Email <br />


                            </p>
                            @if (_authentication.Identity != null && _authentication.Identity.IsAuthenticated && _authentication.GetUserId() == job.UserId)
                            {
                                <a asp-action="Edit" asp-route-id="@job.Id" class="btn btn-secondary btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@job.Id" class="btn btn-danger btn-sm">Delete</a>
                            }
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>