@model HomeIndexViewModel
@inject IScopedAuthentication _authentication
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<!-- Bootstrap CSS (Add this in the head section of your HTML) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

@* <!-- Bootstrap JavaScript (Add this before the closing </body> tag) -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Import Bootstrap JS Bundle (includes Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"> *@

<!-- Import Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<style>
    .MainText{
        padding: 50px 60px 50px 60px;
        margin: auto;
        margin-top: 20%;
        opacity: 0.9;
        text-align: center;
        background-color: white;
        position: absolute;
    }
    }

    .AlumniCard {
        padding: 50px 60px 50px 60px;
        margin: auto;
        opacity: 0.8;
        text-align: center;
        height: 500px !important;
    }


    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }

        .social-link:hover, .social-link:focus {
            background: #ddd;
            text-decoration: none;
            color: #555;
        }

    /* Default styling for the card */
    .bg-white {
        background-color: white;
        transition: background-color 0.3s ease-in-out; /* Add a transition for smooth color change */
    }

    /* Hidden information */
    .additional-info {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
        padding: 10px;
        box-sizing: border-box;
    }

    /* Style for the text within the card */
    .bg-white:hover {
        background-color: white; /* Ensure the background remains white on hover */
    }

        .bg-white:hover .additional-info {
            display: block; /* Show on hover */
        }

    .additional-info-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #0353A4;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        opacity: 0.5;
        margin-left: auto;
        margin-right: auto;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
                opacity: 1;
            }

        .button:hover {
            opacity: 1;
        }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
                .BackPhoto{
        height: 800px;
        background-image: url("images/main-photo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
                }
</style>
<div class="BackPhoto g-0">
       
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-5">
            <div class="MainText" style="width:700px">
                <h1 class="card-title display-4">Welcome to UMT Alumni</h1>
                <p class="card-text lead">
                    Here the past meets the present and shapes the future. Our university has a rich history of producing
                    outstanding graduates who have gone on to make significant contributions in various fields. As an alumni community,
                    we celebrate the accomplishments of our former students and provide a platform for them to reconnect, share experiences,
                    and continue their journey of lifelong learning. Explore the achievements, stories, and connections that define our vibrant UMT Alumni community.
                </p>

            </div>
            </div>
        </div>
       
</div>

<div class="container py-5">
    <div class="row text-center text-black">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Meet Our Alumni Students</h1>
            <p class="lead mb-0">
                "Discover the thriving community of our esteemed alumni. These accomplished graduates have not
                only excelled in their respective fields but continue to inspire and contribute to the success of our university."
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        @foreach (var alumnus in Model.AlumniList.Take(4))
        {
            <div class="col-xl-3 col-md-3 col-sm-6 mb-5">
                <div class="AlumniCard bg-white rounded shadow-sm py-5 px-4" style="height: 500px !important;">
                    <img src="@Url.Action("GetUserImage", "Home", new { id = alumnus.UserId })" alt="Alumni photo" width="100%" height="100%" class="img-fluid mb-3 rounded shadow-sm">
                    <h5 class="mb-0">@alumnus.ApplicationUser.FirstName @alumnus.ApplicationUser.LastName</h5><span class="small text-uppercase text-muted">@alumnus.JobPosition at @alumnus.Company</span>

                    <div class="additional-info text-left">
                        <div class="additional-info-inner ">
                            <h5 class="mb-4">@alumnus.ApplicationUser.FirstName.ToUpper() @alumnus.ApplicationUser.LastName.ToUpper()</h5>
                            <span class="small text-uppercase text-muted mb-4">@alumnus.JobPosition at @alumnus.Company</span>
                            <p>EMAIL: @alumnus.ApplicationUser.Email</p>
                            <p>PHONE: @alumnus.ApplicationUser.PhoneNumber</p>
                            <p>GRADUATION DATE: @alumnus.GraduationDate</p>
                            <p>FIELD OF STUDY: @alumnus.FieldOfStudy</p>
                            <!-- Add more information as needed -->
                        </div>

                    </div>
                </div>
            </div>
        }
        
    </div>
    <div class="row justify-content-center mt-4">
        <a asp-page="/AlumniStudents/Index" class="button">
            <span>See All</span>
        </a>
    </div>
</div>

<div class="container py-5">
    <div class="row text-center text-black">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">News & Events</h1>
        </div>
    </div>
</div>

<!-- End -->
<div class="container">
    <div class="row text-center">
        @if (_authentication.Identity != null && _authentication.Identity.IsAuthenticated)
        {
            @foreach (var events in Model.EventList)
            {
                <div class="col-xl-3 col-sm-6 mb-5 ">
                    <div class="card bg-white rounded shadow-sm py-5 px-2" style="height: 570px !important;">
                        <img src="@Url.Action("GetEventPhoto", "Home", new { id = events.Id })" class="card-img" alt="Event photo">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #0353A4; font-weight: bold">@($"{events.Title.ToUpper()}")</h5>
                            <p class="card-text" style="color: #343a40;">
                                <strong style="color: #0353A4;">Description:</strong> @events.Description <br />
                                <strong style="color: #0353A4;">Date and Time:</strong> @events.Date <br />
                                <strong style="color: #0353A4;">Location:</strong> @events.EventLocation<br />
                                <strong style="color: #0353A4;">Ticket Price:</strong> @events.TicketPrice <br />
                                <strong style="color: #0353A4;">Published By:</strong> @events.ApplicationUser?.FirstName @events.ApplicationUser?.LastName <br />
                            </p>

                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @foreach (var events in Model.EventList.Take(4))
            {
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="card bg-white rounded shadow-sm py-5 px-2" style="height: 570px !important;">
                        <img src="@Url.Action("GetEventPhoto", "Home", new { id = events.Id })" class="card-img " alt="Event photo">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #0353A4; font-weight: bold">@($"{events.Title.ToUpper()}")</h5>
                            <p class="card-text" style="color: #343a40;">
                                <strong style="color: #0353A4;">Description:</strong> @events.Description <br />
                                <strong style="color: #0353A4;">Date and Time:</strong> @events.Date <br />
                                <strong style="color: #0353A4;">Location:</strong> @events.EventLocation<br />
                                <strong style="color: #0353A4;">Ticket Price:</strong> @events.TicketPrice <br />
                                <strong style="color: #0353A4;">Published By:</strong> @events.ApplicationUser?.FirstName @events.ApplicationUser?.LastName <br />
                            </p>

                        </div>
                    </div>
                </div>
            }
            <div class="row justify-content-center mt-4">
                <a asp-page="/Events/Index" class="button">
                    <span>See All</span>
                </a>
            </div>
        }
    </div>
</div>